@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

*,
body {
    font-family: 'Mooli', sans-serif;
    margin: 0;
    padding: 0;
}

.wrapHome {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;

    &__data {
        &__avatar {
            border: 2px solid #ffa3f6;
            width: 100px;
            height: 100px;
            border-radius: 100%;
            overflow: hidden;
            margin: 0 auto 20px auto;

            img {
                width: 100px;
            }
        }
    }

    button {
        display: flex;
        margin: 20px auto 0 auto;
    }
}

header {
    img {
        display: block;
        margin: 0 auto;
    }
}